.processes-section {
  @apply min-h-screen p-12 pt-20 md:px-32 flex flex-col relative;
}

.processes-title {
  @apply text-center flex-grow-0 flex-shrink-0;
}

.processes-container {
  @apply h-full flex items-center content-center flex-grow flex-shrink relative;
}

.loader-container {
  width: 2px;
  height: 140px;
  opacity: 0;
  @apply bg-white-opacity rounded-full mr-10;
}

.loader-element {
  display: block;
  width: 2px;
  height: 0px;
  @apply bg-white rounded-full;
}
