.wpt-logo {
  @apply h-full inline-block;
}

.wpt-logo-words {
  /* opacity: 0; */
  /* animation: wpt-logo-letters-animation 1.75s ease-in-out forwards; */
}
.wpt-logo-word-one {
  animation-delay: 0.5s;
}
.wpt-logo-word-two {
  animation-delay: 0.75s;
}
.wpt-logo-word-three {
  animation-delay: 1s;
}

.wpt-logo-line-one-animation {
  /* stroke-dasharray: 162; */
  /* stroke-dashoffset: 162; */
  /* animation: wpt-logo-line-one-animation 2.5s ease-in-out forwards; */
  /* animation-delay: 0.5s; */
}

.wpt-logo-line-two-animation {
  /* stroke-dasharray: 230; */
  /* stroke-dashoffset: 230; */
  /* animation: wpt-logo-line-two-animation 2.5s ease-in-out forwards; */
  /* animation-delay: 0.5s; */
}

@keyframes wpt-logo-line-one-animation {
  from {
    stroke-dashoffset: 162;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes wpt-logo-line-two-animation {
  from {
    stroke-dashoffset: 230;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes wpt-logo-letters-animation {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
